<h1 class="title" style="text-align: center">Druk Canada Summer Gala Registration!!!</h1>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <b>We welcome you all to register in first ever post pandemic Bhutanese gathering. Here is the basic guide to
            register
            yourself:</b> <br/><br/>
          <b>Step 1:</b> Decide how many adult and children tickets you want to buy! Note: tickets rates are different
          for adults and
          children. <br/>
          &nbsp;&nbsp;&nbsp;Adult ticket rate: $50/- <br/>
          &nbsp;&nbsp;&nbsp;Children ticket rate: $20/- <br/><br/>
          <b>Step 2:</b> E-transfer the amount to Karmatt1994@gmail.com. For example, if you are buying 2 adult
          tickets
          and 2 children tickets. You should e-transfer $140/-. After successful transfer, please copy the e-transfer
          reference number. <br/><br/>
          <b>Step 3:</b> Register here! provide us will all the necessary details. <br/><br/>
          <b>Step 4:</b> We will check your details and approve it, if all the information are correct. <br/><br/>
          <b>Step 5:</b> After approval which might take 12-24 hours after registration, you will be provided with a
          copy of
          e-ticket in your registered email. Please check your spam and junk folders too. <br/><br/>
          You have to show this eticket during the event enterance. <br/><br/>
          <br/>
          <b>In case of any queries or concern, please contact us at:</b><br/>
          &nbsp;&nbsp;&nbsp;Email:
          <a href="mailto:Karmatt1994@gmail.com">Karmatt1994@gmail.com</a><br/>
          &nbsp;&nbsp;&nbsp;Phone: 647-909-9192
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <%= render 'form', participant: @participant %>
        </div>
      </div>
    </div>
  </div>
</div>