<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Full name:</strong>-->
  <%#= @participant.full_name %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Email:</strong>-->
  <%#= @participant.email %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Phone no:</strong>-->
  <%#= @participant.phone_no %>
<!--</p>-->

<!--<p>-->
<!--  <strong>E transfer number:</strong>-->
  <%#= @participant.e_transfer_number %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Status:</strong>-->
  <%#= @participant.status %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_participant_path(@participant) %> |-->
<%#= link_to 'Back', participants_path %>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Registration Successful!
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      Thank you <%= @participant.full_name %>! for registering for the summer gala. We will mail you the copy of the
      eticket in your registered email address <%=  @participant.full_name %>, once we confirm the payment.
      <a href="https://thedrukcanada.com">click here</a> to book another ticket again.
      <br>
    </div>
  </div>
</div>