<div class="columns">
  <div class="column"></div>

  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <%= render 'form_edit', participant: @participant %>
          <hr/>
          <%= link_to 'Back', participants_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="column"></div>
</div>

