<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>You got a new order from <%= @ticket.ticket_number %>!</p>
<p>
  Order details<br>
  --------------------------
</p>
<p>Name: <%= @ticket.participant.full_name %></p>
<p>Email: <%= @ticket.participant.email %></p>
<p>Phone: <%= @ticket.participant.phone_no %></p>
<p>
  Message:<br>
  Thank you for purchasing the ticket. please find the attached e-ticket in this mail.
</p>
</body>
</html>